@media screen and (max-width: 1020px){

footer .flex {
    flex-direction: column;     
}
footer .line-footer {
    text-align: center;
}
footer .btn-social {
    margin-top: -20px;
}
footer .borda{
    margin-top: -80px;
}
}
